.content{
    height: 30%;
    width: 30%;
    border-style: solid;
    padding: 50px;
    padding-left: 20%;
    margin-top: 10%;
    position: absolute;
    left:20%;
    background-color:rgba(241, 241, 198, 0.345);
}
.count{
    color: crimson;
}
h2{
    font-size:x-large;
}
button{
    height: 30px;
    width: 100px;
    color: white;
    background-color: black;
    font-size: medium;
    border-radius: 10px;
    margin-right: 10px;
}